.project-heading {

    text-align: center;
    padding: 4rem 0 2rem 0;
    color: #6c7287;
}

.project-container {
    max-width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
}

.project-card img {
    width: 100%;
}

.project-title {
    color: #fff;
    padding: 1rem 0;
}

.pro-details p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pro-btns .btn {
    padding: 0.5rem 1rem;
}

.img-project {
    height: 45%;

}

@media screen and (max-width: 1300px) {
    .project-container {
        max-width: 90%;
    }
}

@media screen and (max-width: 1040px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill_container {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .project-container {
        max-width: 85%;
    }
}

@media screen and (max-width: 780px) {
    .project-container {
        max-width: 90%;
    }
}

@media screen and (max-width: 678px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}